*.lo
*.loT
*.la
.libs
acinclude.m4
aclocal.m4
autom4te.cache
build
cmake-build-debug
config.guess
config.h
config.h.in
config.h.in~
config.log
config.nice
config.status
config.sub
configure
configure.ac
configure.in
fixes.yml
install-sh
libtool
ltmain.sh
ext/Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
replacements.xml
run-tests.php
ext/tests/**/*.diff
ext/tests/**/*.out
ext/tests/**/*.php
ext/tests/**/*.exp
ext/tests/**/*.log
ext/tests/**/*.sh
/vendor
/target
/.php_cs.cache
/.phpunit.result.cache
composer.lock
