<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd" bootstrap="vendor/autoload.php"
         colors="true" timeoutForSmallTests="1" cacheResultFile="target/cache/phpunit/result.cache">
    <coverage processUncoveredFiles="true">
        <include>
            <directory>src</directory>
        </include>
        <report>
            <html outputDirectory="target/coverage"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="tests">
            <directory suffix="">tests/unit</directory>
        </testsuite>
        <testsuite name="examples">
            <file>tests/examples/Callback.php</file>
            <file>tests/examples/Globl.php</file>
            <file>tests/examples/Hello.php</file>
        </testsuite>
    </testsuites>
</phpunit>